body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../关于本软件_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:72px;
    top:155px;
    width:532px;
    height:217px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:538px;
    height:223px;
}

.u1 {
    position:absolute;
    left:2px;
    top:100px;
    width:528px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:84px;
    top:168px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_menu {
    background-image: url('../关于本软件_files/u3_menu.png');
}

.u3_menu {
    position:absolute;
    left:69px;
    top:68px;
    width:552px;
    height:35px;
}

#u3_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:549px;
    height:32px;
}

#u4 {
    position:absolute;
    left:3px;
    top:3px;
    width:542px;
    height:25px
}

.u5_mouseOver {
    background-image: url('../关于本软件_files/u5_mouseOver.png');
}

.u5_normal {
    background-image: url('../关于本软件_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:20px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u6 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_mouseOver {
    background-image: url('../关于本软件_files/u7_mouseOver.png');
}

.u7_normal {
    background-image: url('../关于本软件_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:60px;
    top:0px;
    width:100px;
    height:20px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u8 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_mouseOver {
    background-image: url('../关于本软件_files/u7_mouseOver.png');
}

.u9_normal {
    background-image: url('../关于本软件_files/u7_normal.png');
}

.u9_container {
    position:absolute;
    left:160px;
    top:0px;
    width:100px;
    height:20px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_mouseOver {
    background-image: url('../关于本软件_files/u11_mouseOver.png');
}

.u11_normal {
    background-image: url('../关于本软件_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:260px;
    top:0px;
    width:87px;
    height:20px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:93px;
    height:26px;
}

.u12 {
    position:absolute;
    left:2px;
    top:2px;
    width:83px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_mouseOver {
    background-image: url('../关于本软件_files/u13_mouseOver.png');
}

.u13_normal {
    background-image: url('../关于本软件_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:347px;
    top:0px;
    width:191px;
    height:20px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:26px;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_menu {
    background-image: url('../关于本软件_files/u15_menu.png');
}

.u15_menu {
    position:absolute;
    left:160px;
    top:20px;
    width:115px;
    height:135px;
}

#u15_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:132px;
}

#u16 {
    position:absolute;
    left:3px;
    top:3px;
    width:105px;
    height:125px
}

.u17_mouseOver {
    background-image: url('../关于本软件_files/u7_mouseOver.png');
}

.u17_normal {
    background-image: url('../关于本软件_files/u7_normal.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_mouseOver {
    background-image: url('../关于本软件_files/u7_mouseOver.png');
}

.u19_normal {
    background-image: url('../关于本软件_files/u7_normal.png');
}

.u19_container {
    position:absolute;
    left:0px;
    top:20px;
    width:100px;
    height:20px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_mouseOver {
    background-image: url('../关于本软件_files/u7_mouseOver.png');
}

.u21_normal {
    background-image: url('../关于本软件_files/u7_normal.png');
}

.u21_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:20px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_mouseOver {
    background-image: url('../关于本软件_files/u7_mouseOver.png');
}

.u23_normal {
    background-image: url('../关于本软件_files/u7_normal.png');
}

.u23_container {
    position:absolute;
    left:0px;
    top:60px;
    width:100px;
    height:20px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_mouseOver {
    background-image: url('../关于本软件_files/u7_mouseOver.png');
}

.u25_normal {
    background-image: url('../关于本软件_files/u7_normal.png');
}

.u25_container {
    position:absolute;
    left:0px;
    top:80px;
    width:100px;
    height:20px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_mouseOver {
    background-image: url('../关于本软件_files/u7_mouseOver.png');
}

.u27_normal {
    background-image: url('../关于本软件_files/u7_normal.png');
}

.u27_container {
    position:absolute;
    left:0px;
    top:100px;
    width:100px;
    height:20px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_menu {
    background-image: url('../关于本软件_files/u29_menu.png');
}

.u29_menu {
    position:absolute;
    left:347px;
    top:20px;
    width:115px;
    height:75px;
}

#u29_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:72px;
}

#u30 {
    position:absolute;
    left:3px;
    top:3px;
    width:105px;
    height:65px
}

.u31_mouseOver {
    background-image: url('../关于本软件_files/u7_mouseOver.png');
}

.u31_normal {
    background-image: url('../关于本软件_files/u7_normal.png');
}

.u31_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_mouseOver {
    background-image: url('../关于本软件_files/u7_mouseOver.png');
}

.u33_normal {
    background-image: url('../关于本软件_files/u7_normal.png');
}

.u33_container {
    position:absolute;
    left:0px;
    top:20px;
    width:100px;
    height:20px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u34 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_mouseOver {
    background-image: url('../关于本软件_files/u7_mouseOver.png');
}

.u35_normal {
    background-image: url('../关于本软件_files/u7_normal.png');
}

.u35_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:20px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_menu {
    background-image: url('../关于本软件_files/u37_menu.png');
}

.u37_menu {
    position:absolute;
    left:60px;
    top:20px;
    width:115px;
    height:75px;
}

#u37_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:72px;
}

#u38 {
    position:absolute;
    left:3px;
    top:3px;
    width:105px;
    height:65px
}

.u39_mouseOver {
    background-image: url('../关于本软件_files/u7_mouseOver.png');
}

.u39_normal {
    background-image: url('../关于本软件_files/u7_normal.png');
}

.u39_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_mouseOver {
    background-image: url('../关于本软件_files/u7_mouseOver.png');
}

.u41_normal {
    background-image: url('../关于本软件_files/u7_normal.png');
}

.u41_container {
    position:absolute;
    left:0px;
    top:20px;
    width:100px;
    height:20px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_mouseOver {
    background-image: url('../关于本软件_files/u7_mouseOver.png');
}

.u43_normal {
    background-image: url('../关于本软件_files/u7_normal.png');
}

.u43_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:20px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_menu {
    background-image: url('../关于本软件_files/u45_menu.png');
}

.u45_menu {
    position:absolute;
    left:260px;
    top:20px;
    width:115px;
    height:95px;
}

#u45_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:92px;
}

#u46 {
    position:absolute;
    left:3px;
    top:3px;
    width:105px;
    height:85px
}

.u47_mouseOver {
    background-image: url('../关于本软件_files/u7_mouseOver.png');
}

.u47_normal {
    background-image: url('../关于本软件_files/u7_normal.png');
}

.u47_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_mouseOver {
    background-image: url('../关于本软件_files/u7_mouseOver.png');
}

.u49_normal {
    background-image: url('../关于本软件_files/u7_normal.png');
}

.u49_container {
    position:absolute;
    left:0px;
    top:20px;
    width:100px;
    height:20px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_mouseOver {
    background-image: url('../关于本软件_files/u7_mouseOver.png');
}

.u51_normal {
    background-image: url('../关于本软件_files/u7_normal.png');
}

.u51_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:20px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u52 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_mouseOver {
    background-image: url('../关于本软件_files/u7_mouseOver.png');
}

.u53_normal {
    background-image: url('../关于本软件_files/u7_normal.png');
}

.u53_container {
    position:absolute;
    left:0px;
    top:60px;
    width:100px;
    height:20px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u54 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_menu {
    background-image: url('../关于本软件_files/u55_menu.png');
}

.u55_menu {
    position:absolute;
    left:0px;
    top:20px;
    width:115px;
    height:75px;
}

#u55_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:72px;
}

#u56 {
    position:absolute;
    left:3px;
    top:3px;
    width:105px;
    height:65px
}

.u57_mouseOver {
    background-image: url('../关于本软件_files/u7_mouseOver.png');
}

.u57_normal {
    background-image: url('../关于本软件_files/u7_normal.png');
}

.u57_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u58 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_mouseOver {
    background-image: url('../关于本软件_files/u7_mouseOver.png');
}

.u59_normal {
    background-image: url('../关于本软件_files/u7_normal.png');
}

.u59_container {
    position:absolute;
    left:0px;
    top:20px;
    width:100px;
    height:20px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u60 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_mouseOver {
    background-image: url('../关于本软件_files/u7_mouseOver.png');
}

.u61_normal {
    background-image: url('../关于本软件_files/u7_normal.png');
}

.u61_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:20px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u62 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

