body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:absolute;
    left:72px;
    top:133px;
    width:503px;
    height:167px
}

.u1_normal {
    background-image: url('../点对点短信_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:0px;
    top:0px;
    width:74px;
    height:20px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:26px;
}

.u2 {
    position:absolute;
    left:2px;
    top:2px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../点对点短信_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:74px;
    top:0px;
    width:30px;
    height:20px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:26px;
}

.u4 {
    position:absolute;
    left:2px;
    top:2px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../点对点短信_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:104px;
    top:0px;
    width:100px;
    height:20px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u6 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../点对点短信_files/u5_normal.png');
}

.u7_container {
    position:absolute;
    left:204px;
    top:0px;
    width:100px;
    height:20px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u8 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../点对点短信_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:304px;
    top:0px;
    width:194px;
    height:20px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:200px;
    height:26px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../点对点短信_files/u1_normal.png');
}

.u11_container {
    position:absolute;
    left:0px;
    top:20px;
    width:74px;
    height:20px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:26px;
}

.u12 {
    position:absolute;
    left:2px;
    top:2px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../点对点短信_files/u3_normal.png');
}

.u13_container {
    position:absolute;
    left:74px;
    top:20px;
    width:30px;
    height:20px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:26px;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../点对点短信_files/u5_normal.png');
}

.u15_container {
    position:absolute;
    left:104px;
    top:20px;
    width:100px;
    height:20px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../点对点短信_files/u5_normal.png');
}

.u17_container {
    position:absolute;
    left:204px;
    top:20px;
    width:100px;
    height:20px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../点对点短信_files/u9_normal.png');
}

.u19_container {
    position:absolute;
    left:304px;
    top:20px;
    width:194px;
    height:20px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:200px;
    height:26px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../点对点短信_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:0px;
    top:40px;
    width:74px;
    height:22px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:28px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../点对点短信_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:74px;
    top:40px;
    width:30px;
    height:22px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:28px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../点对点短信_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:104px;
    top:40px;
    width:100px;
    height:22px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:28px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../点对点短信_files/u25_normal.png');
}

.u27_container {
    position:absolute;
    left:204px;
    top:40px;
    width:100px;
    height:22px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:28px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../点对点短信_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:304px;
    top:40px;
    width:194px;
    height:22px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:200px;
    height:28px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../点对点短信_files/u1_normal.png');
}

.u31_container {
    position:absolute;
    left:0px;
    top:62px;
    width:74px;
    height:20px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:26px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../点对点短信_files/u3_normal.png');
}

.u33_container {
    position:absolute;
    left:74px;
    top:62px;
    width:30px;
    height:20px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:26px;
}

.u34 {
    position:absolute;
    left:2px;
    top:2px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../点对点短信_files/u5_normal.png');
}

.u35_container {
    position:absolute;
    left:104px;
    top:62px;
    width:100px;
    height:20px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../点对点短信_files/u5_normal.png');
}

.u37_container {
    position:absolute;
    left:204px;
    top:62px;
    width:100px;
    height:20px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u38 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../点对点短信_files/u9_normal.png');
}

.u39_container {
    position:absolute;
    left:304px;
    top:62px;
    width:194px;
    height:20px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:200px;
    height:26px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../点对点短信_files/u1_normal.png');
}

.u41_container {
    position:absolute;
    left:0px;
    top:82px;
    width:74px;
    height:20px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:26px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../点对点短信_files/u3_normal.png');
}

.u43_container {
    position:absolute;
    left:74px;
    top:82px;
    width:30px;
    height:20px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:26px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../点对点短信_files/u5_normal.png');
}

.u45_container {
    position:absolute;
    left:104px;
    top:82px;
    width:100px;
    height:20px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../点对点短信_files/u5_normal.png');
}

.u47_container {
    position:absolute;
    left:204px;
    top:82px;
    width:100px;
    height:20px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../点对点短信_files/u9_normal.png');
}

.u49_container {
    position:absolute;
    left:304px;
    top:82px;
    width:194px;
    height:20px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:200px;
    height:26px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../点对点短信_files/u1_normal.png');
}

.u51_container {
    position:absolute;
    left:0px;
    top:102px;
    width:74px;
    height:20px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:26px;
}

.u52 {
    position:absolute;
    left:2px;
    top:2px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../点对点短信_files/u3_normal.png');
}

.u53_container {
    position:absolute;
    left:74px;
    top:102px;
    width:30px;
    height:20px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:26px;
}

.u54 {
    position:absolute;
    left:2px;
    top:2px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../点对点短信_files/u5_normal.png');
}

.u55_container {
    position:absolute;
    left:104px;
    top:102px;
    width:100px;
    height:20px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u56 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../点对点短信_files/u5_normal.png');
}

.u57_container {
    position:absolute;
    left:204px;
    top:102px;
    width:100px;
    height:20px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u58 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../点对点短信_files/u9_normal.png');
}

.u59_container {
    position:absolute;
    left:304px;
    top:102px;
    width:194px;
    height:20px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:200px;
    height:26px;
}

.u60 {
    position:absolute;
    left:2px;
    top:2px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../点对点短信_files/u1_normal.png');
}

.u61_container {
    position:absolute;
    left:0px;
    top:122px;
    width:74px;
    height:20px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:26px;
}

.u62 {
    position:absolute;
    left:2px;
    top:2px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../点对点短信_files/u3_normal.png');
}

.u63_container {
    position:absolute;
    left:74px;
    top:122px;
    width:30px;
    height:20px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:26px;
}

.u64 {
    position:absolute;
    left:2px;
    top:2px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../点对点短信_files/u5_normal.png');
}

.u65_container {
    position:absolute;
    left:104px;
    top:122px;
    width:100px;
    height:20px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u66 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../点对点短信_files/u5_normal.png');
}

.u67_container {
    position:absolute;
    left:204px;
    top:122px;
    width:100px;
    height:20px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u68 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../点对点短信_files/u9_normal.png');
}

.u69_container {
    position:absolute;
    left:304px;
    top:122px;
    width:194px;
    height:20px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:200px;
    height:26px;
}

.u70 {
    position:absolute;
    left:2px;
    top:2px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../点对点短信_files/u1_normal.png');
}

.u71_container {
    position:absolute;
    left:0px;
    top:142px;
    width:74px;
    height:20px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:26px;
}

.u72 {
    position:absolute;
    left:2px;
    top:2px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../点对点短信_files/u3_normal.png');
}

.u73_container {
    position:absolute;
    left:74px;
    top:142px;
    width:30px;
    height:20px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:26px;
}

.u74 {
    position:absolute;
    left:2px;
    top:2px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../点对点短信_files/u5_normal.png');
}

.u75_container {
    position:absolute;
    left:104px;
    top:142px;
    width:100px;
    height:20px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u76 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../点对点短信_files/u5_normal.png');
}

.u77_container {
    position:absolute;
    left:204px;
    top:142px;
    width:100px;
    height:20px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u78 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../点对点短信_files/u9_normal.png');
}

.u79_container {
    position:absolute;
    left:304px;
    top:142px;
    width:194px;
    height:20px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:200px;
    height:26px;
}

.u80 {
    position:absolute;
    left:2px;
    top:2px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_mouseOver {
    background-image: url('../点对点短信_files/u81_mouseOver.png');
}

.u81_normal {
    background-image: url('../点对点短信_files/u81_normal.png');
}

.u81_container {
    position:absolute;
    left:388px;
    top:156px;
    width:79px;
    height:14px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:20px;
}

.u82 {
    position:absolute;
    left:2px;
    top:-1px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_mouseOver {
    background-image: url('../点对点短信_files/u81_mouseOver.png');
}

.u83_normal {
    background-image: url('../点对点短信_files/u81_normal.png');
}

.u83_container {
    position:absolute;
    left:481px;
    top:156px;
    width:79px;
    height:14px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:20px;
}

.u84 {
    position:absolute;
    left:2px;
    top:-1px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../点对点短信_files/u85_normal.png');
}

.u85_container {
    position:absolute;
    left:72px;
    top:293px;
    width:498px;
    height:125px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:504px;
    height:131px;
}

.u86 {
    position:absolute;
    left:2px;
    top:54px;
    width:494px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:104px;
    top:303px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:267px;
    top:301px;
    width:146px;
    height:18px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u89 {
    position:absolute;
    left:162px;
    top:329px;
    width:397px;
    height:51px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u90 {
    position:absolute;
    left:104px;
    top:329px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_mouseOver {
    background-image: url('../点对点短信_files/u81_mouseOver.png');
}

.u91_normal {
    background-image: url('../点对点短信_files/u81_normal.png');
}

.u91_container {
    position:absolute;
    left:162px;
    top:391px;
    width:79px;
    height:14px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:20px;
}

.u92 {
    position:absolute;
    left:2px;
    top:-1px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_mouseOver {
    background-image: url('../点对点短信_files/u81_mouseOver.png');
}

.u93_normal {
    background-image: url('../点对点短信_files/u81_normal.png');
}

.u93_container {
    position:absolute;
    left:267px;
    top:391px;
    width:79px;
    height:14px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:20px;
}

.u94 {
    position:absolute;
    left:2px;
    top:-1px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u95 {
    position:absolute;
    left:72px;
    top:416px;
    width:503px;
    height:85px
}

.u96_normal {
    background-image: url('../点对点短信_files/u96_normal.png');
}

.u96_container {
    position:absolute;
    left:0px;
    top:0px;
    width:130px;
    height:20px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:26px;
}

.u97 {
    position:absolute;
    left:2px;
    top:2px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_normal {
    background-image: url('../点对点短信_files/u98_normal.png');
}

.u98_container {
    position:absolute;
    left:130px;
    top:0px;
    width:268px;
    height:20px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:274px;
    height:26px;
}

.u99 {
    position:absolute;
    left:2px;
    top:2px;
    width:264px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_normal {
    background-image: url('../点对点短信_files/u5_normal.png');
}

.u100_container {
    position:absolute;
    left:398px;
    top:0px;
    width:100px;
    height:20px;
}

#u100_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u101 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_normal {
    background-image: url('../点对点短信_files/u96_normal.png');
}

.u102_container {
    position:absolute;
    left:0px;
    top:20px;
    width:130px;
    height:20px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:26px;
}

.u103 {
    position:absolute;
    left:2px;
    top:2px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_normal {
    background-image: url('../点对点短信_files/u98_normal.png');
}

.u104_container {
    position:absolute;
    left:130px;
    top:20px;
    width:268px;
    height:20px;
}

#u104_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:274px;
    height:26px;
}

.u105 {
    position:absolute;
    left:2px;
    top:2px;
    width:264px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_normal {
    background-image: url('../点对点短信_files/u5_normal.png');
}

.u106_container {
    position:absolute;
    left:398px;
    top:20px;
    width:100px;
    height:20px;
}

#u106_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u107 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../点对点短信_files/u96_normal.png');
}

.u108_container {
    position:absolute;
    left:0px;
    top:40px;
    width:130px;
    height:20px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:26px;
}

.u109 {
    position:absolute;
    left:2px;
    top:2px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_normal {
    background-image: url('../点对点短信_files/u98_normal.png');
}

.u110_container {
    position:absolute;
    left:130px;
    top:40px;
    width:268px;
    height:20px;
}

#u110_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:274px;
    height:26px;
}

.u111 {
    position:absolute;
    left:2px;
    top:2px;
    width:264px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../点对点短信_files/u5_normal.png');
}

.u112_container {
    position:absolute;
    left:398px;
    top:40px;
    width:100px;
    height:20px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u113 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../点对点短信_files/u96_normal.png');
}

.u114_container {
    position:absolute;
    left:0px;
    top:60px;
    width:130px;
    height:20px;
}

#u114_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:26px;
}

.u115 {
    position:absolute;
    left:2px;
    top:2px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_normal {
    background-image: url('../点对点短信_files/u98_normal.png');
}

.u116_container {
    position:absolute;
    left:130px;
    top:60px;
    width:268px;
    height:20px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:274px;
    height:26px;
}

.u117 {
    position:absolute;
    left:2px;
    top:2px;
    width:264px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../点对点短信_files/u5_normal.png');
}

.u118_container {
    position:absolute;
    left:398px;
    top:60px;
    width:100px;
    height:20px;
}

#u118_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u119 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120_mouseOver {
    background-image: url('../点对点短信_files/u81_mouseOver.png');
}

.u120_normal {
    background-image: url('../点对点短信_files/u81_normal.png');
}

.u120_container {
    position:absolute;
    left:480px;
    top:439px;
    width:79px;
    height:14px;
}

#u120_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:20px;
}

.u121 {
    position:absolute;
    left:2px;
    top:-1px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_mouseOver {
    background-image: url('../点对点短信_files/u81_mouseOver.png');
}

.u122_normal {
    background-image: url('../点对点短信_files/u81_normal.png');
}

.u122_container {
    position:absolute;
    left:480px;
    top:458px;
    width:79px;
    height:14px;
}

#u122_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:20px;
}

.u123 {
    position:absolute;
    left:2px;
    top:-1px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124 {
    position:absolute;
    left:104px;
    top:417px;
    width:97px;
    height:18px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u125 {
    position:absolute;
    left:249px;
    top:416px;
    width:122px;
    height:18px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u126 {
    position:absolute;
    left:160px;
    top:301px;
    width:97px;
    height:18px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u127_menu {
    background-image: url('../点对点短信_files/u127_menu.png');
}

.u127_menu {
    position:absolute;
    left:69px;
    top:68px;
    width:552px;
    height:35px;
}

#u127_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:549px;
    height:32px;
}

#u128 {
    position:absolute;
    left:3px;
    top:3px;
    width:542px;
    height:25px
}

.u129_mouseOver {
    background-image: url('../点对点短信_files/u129_mouseOver.png');
}

.u129_normal {
    background-image: url('../点对点短信_files/u129_normal.png');
}

.u129_container {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:20px;
}

#u129_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u130 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131_mouseOver {
    background-image: url('../点对点短信_files/u131_mouseOver.png');
}

.u131_normal {
    background-image: url('../点对点短信_files/u131_normal.png');
}

.u131_container {
    position:absolute;
    left:60px;
    top:0px;
    width:100px;
    height:20px;
}

#u131_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u132 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133_mouseOver {
    background-image: url('../点对点短信_files/u131_mouseOver.png');
}

.u133_normal {
    background-image: url('../点对点短信_files/u131_normal.png');
}

.u133_container {
    position:absolute;
    left:160px;
    top:0px;
    width:100px;
    height:20px;
}

#u133_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u134 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135_mouseOver {
    background-image: url('../点对点短信_files/u135_mouseOver.png');
}

.u135_normal {
    background-image: url('../点对点短信_files/u135_normal.png');
}

.u135_container {
    position:absolute;
    left:260px;
    top:0px;
    width:87px;
    height:20px;
}

#u135_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:93px;
    height:26px;
}

.u136 {
    position:absolute;
    left:2px;
    top:2px;
    width:83px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137_mouseOver {
    background-image: url('../点对点短信_files/u137_mouseOver.png');
}

.u137_normal {
    background-image: url('../点对点短信_files/u137_normal.png');
}

.u137_container {
    position:absolute;
    left:347px;
    top:0px;
    width:191px;
    height:20px;
}

#u137_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:26px;
}

.u138 {
    position:absolute;
    left:2px;
    top:2px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139_menu {
    background-image: url('../点对点短信_files/u139_menu.png');
}

.u139_menu {
    position:absolute;
    left:0px;
    top:20px;
    width:115px;
    height:75px;
}

#u139_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:72px;
}

#u140 {
    position:absolute;
    left:3px;
    top:3px;
    width:105px;
    height:65px
}

.u141_mouseOver {
    background-image: url('../点对点短信_files/u131_mouseOver.png');
}

.u141_normal {
    background-image: url('../点对点短信_files/u131_normal.png');
}

.u141_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u141_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u142 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143_mouseOver {
    background-image: url('../点对点短信_files/u131_mouseOver.png');
}

.u143_normal {
    background-image: url('../点对点短信_files/u131_normal.png');
}

.u143_container {
    position:absolute;
    left:0px;
    top:20px;
    width:100px;
    height:20px;
}

#u143_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u144 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145_mouseOver {
    background-image: url('../点对点短信_files/u131_mouseOver.png');
}

.u145_normal {
    background-image: url('../点对点短信_files/u131_normal.png');
}

.u145_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:20px;
}

#u145_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u146 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147_menu {
    background-image: url('../点对点短信_files/u147_menu.png');
}

.u147_menu {
    position:absolute;
    left:260px;
    top:20px;
    width:115px;
    height:95px;
}

#u147_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:92px;
}

#u148 {
    position:absolute;
    left:3px;
    top:3px;
    width:105px;
    height:85px
}

.u149_mouseOver {
    background-image: url('../点对点短信_files/u131_mouseOver.png');
}

.u149_normal {
    background-image: url('../点对点短信_files/u131_normal.png');
}

.u149_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u149_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u150 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151_mouseOver {
    background-image: url('../点对点短信_files/u131_mouseOver.png');
}

.u151_normal {
    background-image: url('../点对点短信_files/u131_normal.png');
}

.u151_container {
    position:absolute;
    left:0px;
    top:20px;
    width:100px;
    height:20px;
}

#u151_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u152 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153_mouseOver {
    background-image: url('../点对点短信_files/u131_mouseOver.png');
}

.u153_normal {
    background-image: url('../点对点短信_files/u131_normal.png');
}

.u153_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:20px;
}

#u153_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u154 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155_mouseOver {
    background-image: url('../点对点短信_files/u131_mouseOver.png');
}

.u155_normal {
    background-image: url('../点对点短信_files/u131_normal.png');
}

.u155_container {
    position:absolute;
    left:0px;
    top:60px;
    width:100px;
    height:20px;
}

#u155_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u156 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157_menu {
    background-image: url('../点对点短信_files/u157_menu.png');
}

.u157_menu {
    position:absolute;
    left:347px;
    top:20px;
    width:115px;
    height:75px;
}

#u157_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:72px;
}

#u158 {
    position:absolute;
    left:3px;
    top:3px;
    width:105px;
    height:65px
}

.u159_mouseOver {
    background-image: url('../点对点短信_files/u131_mouseOver.png');
}

.u159_normal {
    background-image: url('../点对点短信_files/u131_normal.png');
}

.u159_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u159_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u160 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161_mouseOver {
    background-image: url('../点对点短信_files/u131_mouseOver.png');
}

.u161_normal {
    background-image: url('../点对点短信_files/u131_normal.png');
}

.u161_container {
    position:absolute;
    left:0px;
    top:20px;
    width:100px;
    height:20px;
}

#u161_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u162 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163_mouseOver {
    background-image: url('../点对点短信_files/u131_mouseOver.png');
}

.u163_normal {
    background-image: url('../点对点短信_files/u131_normal.png');
}

.u163_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:20px;
}

#u163_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u164 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165_menu {
    background-image: url('../点对点短信_files/u165_menu.png');
}

.u165_menu {
    position:absolute;
    left:160px;
    top:20px;
    width:115px;
    height:135px;
}

#u165_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:132px;
}

#u166 {
    position:absolute;
    left:3px;
    top:3px;
    width:105px;
    height:125px
}

.u167_mouseOver {
    background-image: url('../点对点短信_files/u131_mouseOver.png');
}

.u167_normal {
    background-image: url('../点对点短信_files/u131_normal.png');
}

.u167_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u167_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u168 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u169_mouseOver {
    background-image: url('../点对点短信_files/u131_mouseOver.png');
}

.u169_normal {
    background-image: url('../点对点短信_files/u131_normal.png');
}

.u169_container {
    position:absolute;
    left:0px;
    top:20px;
    width:100px;
    height:20px;
}

#u169_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u170 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u171_mouseOver {
    background-image: url('../点对点短信_files/u131_mouseOver.png');
}

.u171_normal {
    background-image: url('../点对点短信_files/u131_normal.png');
}

.u171_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:20px;
}

#u171_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u172 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173_mouseOver {
    background-image: url('../点对点短信_files/u131_mouseOver.png');
}

.u173_normal {
    background-image: url('../点对点短信_files/u131_normal.png');
}

.u173_container {
    position:absolute;
    left:0px;
    top:60px;
    width:100px;
    height:20px;
}

#u173_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u174 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175_mouseOver {
    background-image: url('../点对点短信_files/u131_mouseOver.png');
}

.u175_normal {
    background-image: url('../点对点短信_files/u131_normal.png');
}

.u175_container {
    position:absolute;
    left:0px;
    top:80px;
    width:100px;
    height:20px;
}

#u175_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u176 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177_mouseOver {
    background-image: url('../点对点短信_files/u131_mouseOver.png');
}

.u177_normal {
    background-image: url('../点对点短信_files/u131_normal.png');
}

.u177_container {
    position:absolute;
    left:0px;
    top:100px;
    width:100px;
    height:20px;
}

#u177_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u178 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179_menu {
    background-image: url('../点对点短信_files/u179_menu.png');
}

.u179_menu {
    position:absolute;
    left:60px;
    top:20px;
    width:115px;
    height:75px;
}

#u179_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:72px;
}

#u180 {
    position:absolute;
    left:3px;
    top:3px;
    width:105px;
    height:65px
}

.u181_mouseOver {
    background-image: url('../点对点短信_files/u131_mouseOver.png');
}

.u181_normal {
    background-image: url('../点对点短信_files/u131_normal.png');
}

.u181_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u181_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u182 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u183_mouseOver {
    background-image: url('../点对点短信_files/u131_mouseOver.png');
}

.u183_normal {
    background-image: url('../点对点短信_files/u131_normal.png');
}

.u183_container {
    position:absolute;
    left:0px;
    top:20px;
    width:100px;
    height:20px;
}

#u183_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u184 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u185_mouseOver {
    background-image: url('../点对点短信_files/u131_mouseOver.png');
}

.u185_normal {
    background-image: url('../点对点短信_files/u131_normal.png');
}

.u185_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:20px;
}

#u185_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u186 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

