body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:absolute;
    left:72px;
    top:146px;
    width:537px;
    height:245px
}

.u1_normal {
    background-image: url('../操作历史_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:0px;
    top:0px;
    width:130px;
    height:20px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:26px;
}

.u2 {
    position:absolute;
    left:2px;
    top:2px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../操作历史_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:130px;
    top:0px;
    width:60px;
    height:20px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u4 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../操作历史_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:190px;
    top:0px;
    width:86px;
    height:20px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:92px;
    height:26px;
}

.u6 {
    position:absolute;
    left:2px;
    top:2px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../操作历史_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:276px;
    top:0px;
    width:256px;
    height:20px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:262px;
    height:26px;
}

.u8 {
    position:absolute;
    left:2px;
    top:2px;
    width:252px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../操作历史_files/u1_normal.png');
}

.u9_container {
    position:absolute;
    left:0px;
    top:20px;
    width:130px;
    height:20px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:26px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../操作历史_files/u3_normal.png');
}

.u11_container {
    position:absolute;
    left:130px;
    top:20px;
    width:60px;
    height:20px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u12 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../操作历史_files/u5_normal.png');
}

.u13_container {
    position:absolute;
    left:190px;
    top:20px;
    width:86px;
    height:20px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:92px;
    height:26px;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../操作历史_files/u7_normal.png');
}

.u15_container {
    position:absolute;
    left:276px;
    top:20px;
    width:256px;
    height:20px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:262px;
    height:26px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:252px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../操作历史_files/u1_normal.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:40px;
    width:130px;
    height:20px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:26px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../操作历史_files/u3_normal.png');
}

.u19_container {
    position:absolute;
    left:130px;
    top:40px;
    width:60px;
    height:20px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../操作历史_files/u5_normal.png');
}

.u21_container {
    position:absolute;
    left:190px;
    top:40px;
    width:86px;
    height:20px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:92px;
    height:26px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../操作历史_files/u7_normal.png');
}

.u23_container {
    position:absolute;
    left:276px;
    top:40px;
    width:256px;
    height:20px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:262px;
    height:26px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:252px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../操作历史_files/u1_normal.png');
}

.u25_container {
    position:absolute;
    left:0px;
    top:60px;
    width:130px;
    height:20px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:26px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../操作历史_files/u3_normal.png');
}

.u27_container {
    position:absolute;
    left:130px;
    top:60px;
    width:60px;
    height:20px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../操作历史_files/u5_normal.png');
}

.u29_container {
    position:absolute;
    left:190px;
    top:60px;
    width:86px;
    height:20px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:92px;
    height:26px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../操作历史_files/u7_normal.png');
}

.u31_container {
    position:absolute;
    left:276px;
    top:60px;
    width:256px;
    height:20px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:262px;
    height:26px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:252px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../操作历史_files/u1_normal.png');
}

.u33_container {
    position:absolute;
    left:0px;
    top:80px;
    width:130px;
    height:20px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:26px;
}

.u34 {
    position:absolute;
    left:2px;
    top:2px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../操作历史_files/u3_normal.png');
}

.u35_container {
    position:absolute;
    left:130px;
    top:80px;
    width:60px;
    height:20px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../操作历史_files/u5_normal.png');
}

.u37_container {
    position:absolute;
    left:190px;
    top:80px;
    width:86px;
    height:20px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:92px;
    height:26px;
}

.u38 {
    position:absolute;
    left:2px;
    top:2px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../操作历史_files/u7_normal.png');
}

.u39_container {
    position:absolute;
    left:276px;
    top:80px;
    width:256px;
    height:20px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:262px;
    height:26px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:252px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../操作历史_files/u1_normal.png');
}

.u41_container {
    position:absolute;
    left:0px;
    top:100px;
    width:130px;
    height:20px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:26px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../操作历史_files/u3_normal.png');
}

.u43_container {
    position:absolute;
    left:130px;
    top:100px;
    width:60px;
    height:20px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../操作历史_files/u5_normal.png');
}

.u45_container {
    position:absolute;
    left:190px;
    top:100px;
    width:86px;
    height:20px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:92px;
    height:26px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../操作历史_files/u7_normal.png');
}

.u47_container {
    position:absolute;
    left:276px;
    top:100px;
    width:256px;
    height:20px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:262px;
    height:26px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:252px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../操作历史_files/u1_normal.png');
}

.u49_container {
    position:absolute;
    left:0px;
    top:120px;
    width:130px;
    height:20px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:26px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../操作历史_files/u3_normal.png');
}

.u51_container {
    position:absolute;
    left:130px;
    top:120px;
    width:60px;
    height:20px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u52 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../操作历史_files/u5_normal.png');
}

.u53_container {
    position:absolute;
    left:190px;
    top:120px;
    width:86px;
    height:20px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:92px;
    height:26px;
}

.u54 {
    position:absolute;
    left:2px;
    top:2px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../操作历史_files/u7_normal.png');
}

.u55_container {
    position:absolute;
    left:276px;
    top:120px;
    width:256px;
    height:20px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:262px;
    height:26px;
}

.u56 {
    position:absolute;
    left:2px;
    top:2px;
    width:252px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../操作历史_files/u1_normal.png');
}

.u57_container {
    position:absolute;
    left:0px;
    top:140px;
    width:130px;
    height:20px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:26px;
}

.u58 {
    position:absolute;
    left:2px;
    top:2px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../操作历史_files/u3_normal.png');
}

.u59_container {
    position:absolute;
    left:130px;
    top:140px;
    width:60px;
    height:20px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u60 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../操作历史_files/u5_normal.png');
}

.u61_container {
    position:absolute;
    left:190px;
    top:140px;
    width:86px;
    height:20px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:92px;
    height:26px;
}

.u62 {
    position:absolute;
    left:2px;
    top:2px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../操作历史_files/u7_normal.png');
}

.u63_container {
    position:absolute;
    left:276px;
    top:140px;
    width:256px;
    height:20px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:262px;
    height:26px;
}

.u64 {
    position:absolute;
    left:2px;
    top:2px;
    width:252px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../操作历史_files/u1_normal.png');
}

.u65_container {
    position:absolute;
    left:0px;
    top:160px;
    width:130px;
    height:20px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:26px;
}

.u66 {
    position:absolute;
    left:2px;
    top:2px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../操作历史_files/u3_normal.png');
}

.u67_container {
    position:absolute;
    left:130px;
    top:160px;
    width:60px;
    height:20px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u68 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../操作历史_files/u5_normal.png');
}

.u69_container {
    position:absolute;
    left:190px;
    top:160px;
    width:86px;
    height:20px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:92px;
    height:26px;
}

.u70 {
    position:absolute;
    left:2px;
    top:2px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../操作历史_files/u7_normal.png');
}

.u71_container {
    position:absolute;
    left:276px;
    top:160px;
    width:256px;
    height:20px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:262px;
    height:26px;
}

.u72 {
    position:absolute;
    left:2px;
    top:2px;
    width:252px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../操作历史_files/u1_normal.png');
}

.u73_container {
    position:absolute;
    left:0px;
    top:180px;
    width:130px;
    height:20px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:26px;
}

.u74 {
    position:absolute;
    left:2px;
    top:2px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../操作历史_files/u3_normal.png');
}

.u75_container {
    position:absolute;
    left:130px;
    top:180px;
    width:60px;
    height:20px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u76 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../操作历史_files/u5_normal.png');
}

.u77_container {
    position:absolute;
    left:190px;
    top:180px;
    width:86px;
    height:20px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:92px;
    height:26px;
}

.u78 {
    position:absolute;
    left:2px;
    top:2px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../操作历史_files/u7_normal.png');
}

.u79_container {
    position:absolute;
    left:276px;
    top:180px;
    width:256px;
    height:20px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:262px;
    height:26px;
}

.u80 {
    position:absolute;
    left:2px;
    top:2px;
    width:252px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../操作历史_files/u1_normal.png');
}

.u81_container {
    position:absolute;
    left:0px;
    top:200px;
    width:130px;
    height:20px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:26px;
}

.u82 {
    position:absolute;
    left:2px;
    top:2px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../操作历史_files/u3_normal.png');
}

.u83_container {
    position:absolute;
    left:130px;
    top:200px;
    width:60px;
    height:20px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u84 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../操作历史_files/u5_normal.png');
}

.u85_container {
    position:absolute;
    left:190px;
    top:200px;
    width:86px;
    height:20px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:92px;
    height:26px;
}

.u86 {
    position:absolute;
    left:2px;
    top:2px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../操作历史_files/u7_normal.png');
}

.u87_container {
    position:absolute;
    left:276px;
    top:200px;
    width:256px;
    height:20px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:262px;
    height:26px;
}

.u88 {
    position:absolute;
    left:2px;
    top:2px;
    width:252px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../操作历史_files/u1_normal.png');
}

.u89_container {
    position:absolute;
    left:0px;
    top:220px;
    width:130px;
    height:20px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:26px;
}

.u90 {
    position:absolute;
    left:2px;
    top:2px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../操作历史_files/u3_normal.png');
}

.u91_container {
    position:absolute;
    left:130px;
    top:220px;
    width:60px;
    height:20px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u92 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../操作历史_files/u5_normal.png');
}

.u93_container {
    position:absolute;
    left:190px;
    top:220px;
    width:86px;
    height:20px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:92px;
    height:26px;
}

.u94 {
    position:absolute;
    left:2px;
    top:2px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../操作历史_files/u7_normal.png');
}

.u95_container {
    position:absolute;
    left:276px;
    top:220px;
    width:256px;
    height:20px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:262px;
    height:26px;
}

.u96 {
    position:absolute;
    left:2px;
    top:2px;
    width:252px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_menu {
    background-image: url('../操作历史_files/u97_menu.png');
}

.u97_menu {
    position:absolute;
    left:69px;
    top:68px;
    width:552px;
    height:35px;
}

#u97_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:549px;
    height:32px;
}

#u98 {
    position:absolute;
    left:3px;
    top:3px;
    width:542px;
    height:25px
}

.u99_mouseOver {
    background-image: url('../操作历史_files/u99_mouseOver.png');
}

.u99_normal {
    background-image: url('../操作历史_files/u99_normal.png');
}

.u99_container {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:20px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u100 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_mouseOver {
    background-image: url('../操作历史_files/u101_mouseOver.png');
}

.u101_normal {
    background-image: url('../操作历史_files/u101_normal.png');
}

.u101_container {
    position:absolute;
    left:60px;
    top:0px;
    width:100px;
    height:20px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u102 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_mouseOver {
    background-image: url('../操作历史_files/u101_mouseOver.png');
}

.u103_normal {
    background-image: url('../操作历史_files/u101_normal.png');
}

.u103_container {
    position:absolute;
    left:160px;
    top:0px;
    width:100px;
    height:20px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u104 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_mouseOver {
    background-image: url('../操作历史_files/u105_mouseOver.png');
}

.u105_normal {
    background-image: url('../操作历史_files/u105_normal.png');
}

.u105_container {
    position:absolute;
    left:260px;
    top:0px;
    width:87px;
    height:20px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:93px;
    height:26px;
}

.u106 {
    position:absolute;
    left:2px;
    top:2px;
    width:83px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_mouseOver {
    background-image: url('../操作历史_files/u107_mouseOver.png');
}

.u107_normal {
    background-image: url('../操作历史_files/u107_normal.png');
}

.u107_container {
    position:absolute;
    left:347px;
    top:0px;
    width:191px;
    height:20px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:26px;
}

.u108 {
    position:absolute;
    left:2px;
    top:2px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_menu {
    background-image: url('../操作历史_files/u109_menu.png');
}

.u109_menu {
    position:absolute;
    left:60px;
    top:20px;
    width:115px;
    height:75px;
}

#u109_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:72px;
}

#u110 {
    position:absolute;
    left:3px;
    top:3px;
    width:105px;
    height:65px
}

.u111_mouseOver {
    background-image: url('../操作历史_files/u101_mouseOver.png');
}

.u111_normal {
    background-image: url('../操作历史_files/u101_normal.png');
}

.u111_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u112 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_mouseOver {
    background-image: url('../操作历史_files/u101_mouseOver.png');
}

.u113_normal {
    background-image: url('../操作历史_files/u101_normal.png');
}

.u113_container {
    position:absolute;
    left:0px;
    top:20px;
    width:100px;
    height:20px;
}

#u113_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u114 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_mouseOver {
    background-image: url('../操作历史_files/u101_mouseOver.png');
}

.u115_normal {
    background-image: url('../操作历史_files/u101_normal.png');
}

.u115_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:20px;
}

#u115_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u116 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_menu {
    background-image: url('../操作历史_files/u117_menu.png');
}

.u117_menu {
    position:absolute;
    left:0px;
    top:20px;
    width:115px;
    height:75px;
}

#u117_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:72px;
}

#u118 {
    position:absolute;
    left:3px;
    top:3px;
    width:105px;
    height:65px
}

.u119_mouseOver {
    background-image: url('../操作历史_files/u101_mouseOver.png');
}

.u119_normal {
    background-image: url('../操作历史_files/u101_normal.png');
}

.u119_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u119_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u120 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121_mouseOver {
    background-image: url('../操作历史_files/u101_mouseOver.png');
}

.u121_normal {
    background-image: url('../操作历史_files/u101_normal.png');
}

.u121_container {
    position:absolute;
    left:0px;
    top:20px;
    width:100px;
    height:20px;
}

#u121_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u122 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123_mouseOver {
    background-image: url('../操作历史_files/u101_mouseOver.png');
}

.u123_normal {
    background-image: url('../操作历史_files/u101_normal.png');
}

.u123_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:20px;
}

#u123_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u124 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125_menu {
    background-image: url('../操作历史_files/u125_menu.png');
}

.u125_menu {
    position:absolute;
    left:160px;
    top:20px;
    width:115px;
    height:135px;
}

#u125_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:132px;
}

#u126 {
    position:absolute;
    left:3px;
    top:3px;
    width:105px;
    height:125px
}

.u127_mouseOver {
    background-image: url('../操作历史_files/u101_mouseOver.png');
}

.u127_normal {
    background-image: url('../操作历史_files/u101_normal.png');
}

.u127_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u127_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u128 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129_mouseOver {
    background-image: url('../操作历史_files/u101_mouseOver.png');
}

.u129_normal {
    background-image: url('../操作历史_files/u101_normal.png');
}

.u129_container {
    position:absolute;
    left:0px;
    top:20px;
    width:100px;
    height:20px;
}

#u129_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u130 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131_mouseOver {
    background-image: url('../操作历史_files/u101_mouseOver.png');
}

.u131_normal {
    background-image: url('../操作历史_files/u101_normal.png');
}

.u131_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:20px;
}

#u131_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u132 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133_mouseOver {
    background-image: url('../操作历史_files/u101_mouseOver.png');
}

.u133_normal {
    background-image: url('../操作历史_files/u101_normal.png');
}

.u133_container {
    position:absolute;
    left:0px;
    top:60px;
    width:100px;
    height:20px;
}

#u133_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u134 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135_mouseOver {
    background-image: url('../操作历史_files/u101_mouseOver.png');
}

.u135_normal {
    background-image: url('../操作历史_files/u101_normal.png');
}

.u135_container {
    position:absolute;
    left:0px;
    top:80px;
    width:100px;
    height:20px;
}

#u135_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u136 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137_mouseOver {
    background-image: url('../操作历史_files/u101_mouseOver.png');
}

.u137_normal {
    background-image: url('../操作历史_files/u101_normal.png');
}

.u137_container {
    position:absolute;
    left:0px;
    top:100px;
    width:100px;
    height:20px;
}

#u137_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u138 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139_menu {
    background-image: url('../操作历史_files/u139_menu.png');
}

.u139_menu {
    position:absolute;
    left:260px;
    top:20px;
    width:115px;
    height:95px;
}

#u139_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:92px;
}

#u140 {
    position:absolute;
    left:3px;
    top:3px;
    width:105px;
    height:85px
}

.u141_mouseOver {
    background-image: url('../操作历史_files/u101_mouseOver.png');
}

.u141_normal {
    background-image: url('../操作历史_files/u101_normal.png');
}

.u141_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u141_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u142 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143_mouseOver {
    background-image: url('../操作历史_files/u101_mouseOver.png');
}

.u143_normal {
    background-image: url('../操作历史_files/u101_normal.png');
}

.u143_container {
    position:absolute;
    left:0px;
    top:20px;
    width:100px;
    height:20px;
}

#u143_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u144 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145_mouseOver {
    background-image: url('../操作历史_files/u101_mouseOver.png');
}

.u145_normal {
    background-image: url('../操作历史_files/u101_normal.png');
}

.u145_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:20px;
}

#u145_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u146 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147_mouseOver {
    background-image: url('../操作历史_files/u101_mouseOver.png');
}

.u147_normal {
    background-image: url('../操作历史_files/u101_normal.png');
}

.u147_container {
    position:absolute;
    left:0px;
    top:60px;
    width:100px;
    height:20px;
}

#u147_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u148 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149_menu {
    background-image: url('../操作历史_files/u149_menu.png');
}

.u149_menu {
    position:absolute;
    left:347px;
    top:20px;
    width:115px;
    height:75px;
}

#u149_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:72px;
}

#u150 {
    position:absolute;
    left:3px;
    top:3px;
    width:105px;
    height:65px
}

.u151_mouseOver {
    background-image: url('../操作历史_files/u101_mouseOver.png');
}

.u151_normal {
    background-image: url('../操作历史_files/u101_normal.png');
}

.u151_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u151_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u152 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153_mouseOver {
    background-image: url('../操作历史_files/u101_mouseOver.png');
}

.u153_normal {
    background-image: url('../操作历史_files/u101_normal.png');
}

.u153_container {
    position:absolute;
    left:0px;
    top:20px;
    width:100px;
    height:20px;
}

#u153_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u154 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155_mouseOver {
    background-image: url('../操作历史_files/u101_mouseOver.png');
}

.u155_normal {
    background-image: url('../操作历史_files/u101_normal.png');
}

.u155_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:20px;
}

#u155_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u156 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

