body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../定时发送_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:73px;
    top:158px;
    width:532px;
    height:173px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:538px;
    height:179px;
}

.u1 {
    position:absolute;
    left:2px;
    top:78px;
    width:528px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:16px;
    top:0px;
    width:206px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:170px;
    top:200px;
    width:74px;
    height:18px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u5 {
    position:absolute;
    left:279px;
    top:201px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:352px;
    top:198px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7_line {
    background-image: url('../定时发送_files/u7_line.png');
}

.u7_line {
    position:absolute;
    left:0px;
    top:4px;
    width:532px;
    height:3px;
}

.u7 {
    position:absolute;
    left:73px;
    top:224px;
    width:532px;
    height:10px;
    
}

.u9 {
    position:absolute;
    left:16px;
    top:0px;
    width:158px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:105px;
    top:301px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:202px;
    top:297px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u12 {
    position:absolute;
    left:105px;
    top:202px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:170px;
    top:273px;
    width:74px;
    height:18px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u14 {
    position:absolute;
    left:279px;
    top:274px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:352px;
    top:271px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u16 {
    position:absolute;
    left:105px;
    top:275px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_menu {
    background-image: url('../定时发送_files/u17_menu.png');
}

.u17_menu {
    position:absolute;
    left:69px;
    top:68px;
    width:552px;
    height:35px;
}

#u17_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:549px;
    height:32px;
}

#u18 {
    position:absolute;
    left:3px;
    top:3px;
    width:542px;
    height:25px
}

.u19_mouseOver {
    background-image: url('../定时发送_files/u19_mouseOver.png');
}

.u19_normal {
    background-image: url('../定时发送_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:20px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_mouseOver {
    background-image: url('../定时发送_files/u21_mouseOver.png');
}

.u21_normal {
    background-image: url('../定时发送_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:60px;
    top:0px;
    width:100px;
    height:20px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_mouseOver {
    background-image: url('../定时发送_files/u21_mouseOver.png');
}

.u23_normal {
    background-image: url('../定时发送_files/u21_normal.png');
}

.u23_container {
    position:absolute;
    left:160px;
    top:0px;
    width:100px;
    height:20px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_mouseOver {
    background-image: url('../定时发送_files/u25_mouseOver.png');
}

.u25_normal {
    background-image: url('../定时发送_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:260px;
    top:0px;
    width:87px;
    height:20px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:93px;
    height:26px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:83px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_mouseOver {
    background-image: url('../定时发送_files/u27_mouseOver.png');
}

.u27_normal {
    background-image: url('../定时发送_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:347px;
    top:0px;
    width:191px;
    height:20px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:26px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_menu {
    background-image: url('../定时发送_files/u29_menu.png');
}

.u29_menu {
    position:absolute;
    left:0px;
    top:20px;
    width:115px;
    height:75px;
}

#u29_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:72px;
}

#u30 {
    position:absolute;
    left:3px;
    top:3px;
    width:105px;
    height:65px
}

.u31_mouseOver {
    background-image: url('../定时发送_files/u21_mouseOver.png');
}

.u31_normal {
    background-image: url('../定时发送_files/u21_normal.png');
}

.u31_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_mouseOver {
    background-image: url('../定时发送_files/u21_mouseOver.png');
}

.u33_normal {
    background-image: url('../定时发送_files/u21_normal.png');
}

.u33_container {
    position:absolute;
    left:0px;
    top:20px;
    width:100px;
    height:20px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u34 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_mouseOver {
    background-image: url('../定时发送_files/u21_mouseOver.png');
}

.u35_normal {
    background-image: url('../定时发送_files/u21_normal.png');
}

.u35_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:20px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_menu {
    background-image: url('../定时发送_files/u37_menu.png');
}

.u37_menu {
    position:absolute;
    left:160px;
    top:20px;
    width:115px;
    height:135px;
}

#u37_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:132px;
}

#u38 {
    position:absolute;
    left:3px;
    top:3px;
    width:105px;
    height:125px
}

.u39_mouseOver {
    background-image: url('../定时发送_files/u21_mouseOver.png');
}

.u39_normal {
    background-image: url('../定时发送_files/u21_normal.png');
}

.u39_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_mouseOver {
    background-image: url('../定时发送_files/u21_mouseOver.png');
}

.u41_normal {
    background-image: url('../定时发送_files/u21_normal.png');
}

.u41_container {
    position:absolute;
    left:0px;
    top:20px;
    width:100px;
    height:20px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_mouseOver {
    background-image: url('../定时发送_files/u21_mouseOver.png');
}

.u43_normal {
    background-image: url('../定时发送_files/u21_normal.png');
}

.u43_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:20px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_mouseOver {
    background-image: url('../定时发送_files/u21_mouseOver.png');
}

.u45_normal {
    background-image: url('../定时发送_files/u21_normal.png');
}

.u45_container {
    position:absolute;
    left:0px;
    top:60px;
    width:100px;
    height:20px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_mouseOver {
    background-image: url('../定时发送_files/u21_mouseOver.png');
}

.u47_normal {
    background-image: url('../定时发送_files/u21_normal.png');
}

.u47_container {
    position:absolute;
    left:0px;
    top:80px;
    width:100px;
    height:20px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_mouseOver {
    background-image: url('../定时发送_files/u21_mouseOver.png');
}

.u49_normal {
    background-image: url('../定时发送_files/u21_normal.png');
}

.u49_container {
    position:absolute;
    left:0px;
    top:100px;
    width:100px;
    height:20px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_menu {
    background-image: url('../定时发送_files/u51_menu.png');
}

.u51_menu {
    position:absolute;
    left:347px;
    top:20px;
    width:115px;
    height:75px;
}

#u51_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:72px;
}

#u52 {
    position:absolute;
    left:3px;
    top:3px;
    width:105px;
    height:65px
}

.u53_mouseOver {
    background-image: url('../定时发送_files/u21_mouseOver.png');
}

.u53_normal {
    background-image: url('../定时发送_files/u21_normal.png');
}

.u53_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u54 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_mouseOver {
    background-image: url('../定时发送_files/u21_mouseOver.png');
}

.u55_normal {
    background-image: url('../定时发送_files/u21_normal.png');
}

.u55_container {
    position:absolute;
    left:0px;
    top:20px;
    width:100px;
    height:20px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u56 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_mouseOver {
    background-image: url('../定时发送_files/u21_mouseOver.png');
}

.u57_normal {
    background-image: url('../定时发送_files/u21_normal.png');
}

.u57_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:20px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u58 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_menu {
    background-image: url('../定时发送_files/u59_menu.png');
}

.u59_menu {
    position:absolute;
    left:260px;
    top:20px;
    width:115px;
    height:95px;
}

#u59_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:92px;
}

#u60 {
    position:absolute;
    left:3px;
    top:3px;
    width:105px;
    height:85px
}

.u61_mouseOver {
    background-image: url('../定时发送_files/u21_mouseOver.png');
}

.u61_normal {
    background-image: url('../定时发送_files/u21_normal.png');
}

.u61_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u62 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_mouseOver {
    background-image: url('../定时发送_files/u21_mouseOver.png');
}

.u63_normal {
    background-image: url('../定时发送_files/u21_normal.png');
}

.u63_container {
    position:absolute;
    left:0px;
    top:20px;
    width:100px;
    height:20px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u64 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_mouseOver {
    background-image: url('../定时发送_files/u21_mouseOver.png');
}

.u65_normal {
    background-image: url('../定时发送_files/u21_normal.png');
}

.u65_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:20px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u66 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_mouseOver {
    background-image: url('../定时发送_files/u21_mouseOver.png');
}

.u67_normal {
    background-image: url('../定时发送_files/u21_normal.png');
}

.u67_container {
    position:absolute;
    left:0px;
    top:60px;
    width:100px;
    height:20px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u68 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_menu {
    background-image: url('../定时发送_files/u69_menu.png');
}

.u69_menu {
    position:absolute;
    left:60px;
    top:20px;
    width:115px;
    height:75px;
}

#u69_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:72px;
}

#u70 {
    position:absolute;
    left:3px;
    top:3px;
    width:105px;
    height:65px
}

.u71_mouseOver {
    background-image: url('../定时发送_files/u21_mouseOver.png');
}

.u71_normal {
    background-image: url('../定时发送_files/u21_normal.png');
}

.u71_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u72 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_mouseOver {
    background-image: url('../定时发送_files/u21_mouseOver.png');
}

.u73_normal {
    background-image: url('../定时发送_files/u21_normal.png');
}

.u73_container {
    position:absolute;
    left:0px;
    top:20px;
    width:100px;
    height:20px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u74 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_mouseOver {
    background-image: url('../定时发送_files/u21_mouseOver.png');
}

.u75_normal {
    background-image: url('../定时发送_files/u21_normal.png');
}

.u75_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:20px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u76 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

