body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../数据同步_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:72px;
    top:156px;
    width:532px;
    height:134px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:538px;
    height:140px;
}

.u1 {
    position:absolute;
    left:2px;
    top:59px;
    width:528px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:16px;
    top:0px;
    width:206px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:169px;
    top:198px;
    width:74px;
    height:18px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u5 {
    position:absolute;
    left:278px;
    top:199px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:351px;
    top:196px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7 {
    position:absolute;
    left:104px;
    top:230px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:201px;
    top:226px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u9 {
    position:absolute;
    left:104px;
    top:200px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_mouseOver {
    background-image: url('../数据同步_files/u10_mouseOver.png');
}

.u10_normal {
    background-image: url('../数据同步_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:104px;
    top:256px;
    width:100px;
    height:25px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u11 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_mouseOver {
    background-image: url('../数据同步_files/u10_mouseOver.png');
}

.u12_normal {
    background-image: url('../数据同步_files/u10_normal.png');
}

.u12_container {
    position:absolute;
    left:214px;
    top:256px;
    width:100px;
    height:25px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u13 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_menu {
    background-image: url('../数据同步_files/u14_menu.png');
}

.u14_menu {
    position:absolute;
    left:69px;
    top:68px;
    width:552px;
    height:35px;
}

#u14_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:549px;
    height:32px;
}

#u15 {
    position:absolute;
    left:3px;
    top:3px;
    width:542px;
    height:25px
}

.u16_mouseOver {
    background-image: url('../数据同步_files/u16_mouseOver.png');
}

.u16_normal {
    background-image: url('../数据同步_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:20px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u17 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_mouseOver {
    background-image: url('../数据同步_files/u18_mouseOver.png');
}

.u18_normal {
    background-image: url('../数据同步_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:60px;
    top:0px;
    width:100px;
    height:20px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u19 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_mouseOver {
    background-image: url('../数据同步_files/u18_mouseOver.png');
}

.u20_normal {
    background-image: url('../数据同步_files/u18_normal.png');
}

.u20_container {
    position:absolute;
    left:160px;
    top:0px;
    width:100px;
    height:20px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u21 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_mouseOver {
    background-image: url('../数据同步_files/u22_mouseOver.png');
}

.u22_normal {
    background-image: url('../数据同步_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:260px;
    top:0px;
    width:87px;
    height:20px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:93px;
    height:26px;
}

.u23 {
    position:absolute;
    left:2px;
    top:2px;
    width:83px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_mouseOver {
    background-image: url('../数据同步_files/u24_mouseOver.png');
}

.u24_normal {
    background-image: url('../数据同步_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:347px;
    top:0px;
    width:191px;
    height:20px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:26px;
}

.u25 {
    position:absolute;
    left:2px;
    top:2px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_menu {
    background-image: url('../数据同步_files/u26_menu.png');
}

.u26_menu {
    position:absolute;
    left:160px;
    top:20px;
    width:115px;
    height:135px;
}

#u26_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:132px;
}

#u27 {
    position:absolute;
    left:3px;
    top:3px;
    width:105px;
    height:125px
}

.u28_mouseOver {
    background-image: url('../数据同步_files/u18_mouseOver.png');
}

.u28_normal {
    background-image: url('../数据同步_files/u18_normal.png');
}

.u28_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u29 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_mouseOver {
    background-image: url('../数据同步_files/u18_mouseOver.png');
}

.u30_normal {
    background-image: url('../数据同步_files/u18_normal.png');
}

.u30_container {
    position:absolute;
    left:0px;
    top:20px;
    width:100px;
    height:20px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u31 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_mouseOver {
    background-image: url('../数据同步_files/u18_mouseOver.png');
}

.u32_normal {
    background-image: url('../数据同步_files/u18_normal.png');
}

.u32_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:20px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u33 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_mouseOver {
    background-image: url('../数据同步_files/u18_mouseOver.png');
}

.u34_normal {
    background-image: url('../数据同步_files/u18_normal.png');
}

.u34_container {
    position:absolute;
    left:0px;
    top:60px;
    width:100px;
    height:20px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u35 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_mouseOver {
    background-image: url('../数据同步_files/u18_mouseOver.png');
}

.u36_normal {
    background-image: url('../数据同步_files/u18_normal.png');
}

.u36_container {
    position:absolute;
    left:0px;
    top:80px;
    width:100px;
    height:20px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u37 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_mouseOver {
    background-image: url('../数据同步_files/u18_mouseOver.png');
}

.u38_normal {
    background-image: url('../数据同步_files/u18_normal.png');
}

.u38_container {
    position:absolute;
    left:0px;
    top:100px;
    width:100px;
    height:20px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u39 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_menu {
    background-image: url('../数据同步_files/u40_menu.png');
}

.u40_menu {
    position:absolute;
    left:60px;
    top:20px;
    width:115px;
    height:75px;
}

#u40_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:72px;
}

#u41 {
    position:absolute;
    left:3px;
    top:3px;
    width:105px;
    height:65px
}

.u42_mouseOver {
    background-image: url('../数据同步_files/u18_mouseOver.png');
}

.u42_normal {
    background-image: url('../数据同步_files/u18_normal.png');
}

.u42_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u43 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_mouseOver {
    background-image: url('../数据同步_files/u18_mouseOver.png');
}

.u44_normal {
    background-image: url('../数据同步_files/u18_normal.png');
}

.u44_container {
    position:absolute;
    left:0px;
    top:20px;
    width:100px;
    height:20px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u45 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_mouseOver {
    background-image: url('../数据同步_files/u18_mouseOver.png');
}

.u46_normal {
    background-image: url('../数据同步_files/u18_normal.png');
}

.u46_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:20px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u47 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_menu {
    background-image: url('../数据同步_files/u48_menu.png');
}

.u48_menu {
    position:absolute;
    left:260px;
    top:20px;
    width:115px;
    height:95px;
}

#u48_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:92px;
}

#u49 {
    position:absolute;
    left:3px;
    top:3px;
    width:105px;
    height:85px
}

.u50_mouseOver {
    background-image: url('../数据同步_files/u18_mouseOver.png');
}

.u50_normal {
    background-image: url('../数据同步_files/u18_normal.png');
}

.u50_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u51 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_mouseOver {
    background-image: url('../数据同步_files/u18_mouseOver.png');
}

.u52_normal {
    background-image: url('../数据同步_files/u18_normal.png');
}

.u52_container {
    position:absolute;
    left:0px;
    top:20px;
    width:100px;
    height:20px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u53 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_mouseOver {
    background-image: url('../数据同步_files/u18_mouseOver.png');
}

.u54_normal {
    background-image: url('../数据同步_files/u18_normal.png');
}

.u54_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:20px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u55 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_mouseOver {
    background-image: url('../数据同步_files/u18_mouseOver.png');
}

.u56_normal {
    background-image: url('../数据同步_files/u18_normal.png');
}

.u56_container {
    position:absolute;
    left:0px;
    top:60px;
    width:100px;
    height:20px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u57 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_menu {
    background-image: url('../数据同步_files/u58_menu.png');
}

.u58_menu {
    position:absolute;
    left:0px;
    top:20px;
    width:115px;
    height:75px;
}

#u58_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:72px;
}

#u59 {
    position:absolute;
    left:3px;
    top:3px;
    width:105px;
    height:65px
}

.u60_mouseOver {
    background-image: url('../数据同步_files/u18_mouseOver.png');
}

.u60_normal {
    background-image: url('../数据同步_files/u18_normal.png');
}

.u60_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u61 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_mouseOver {
    background-image: url('../数据同步_files/u18_mouseOver.png');
}

.u62_normal {
    background-image: url('../数据同步_files/u18_normal.png');
}

.u62_container {
    position:absolute;
    left:0px;
    top:20px;
    width:100px;
    height:20px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u63 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_mouseOver {
    background-image: url('../数据同步_files/u18_mouseOver.png');
}

.u64_normal {
    background-image: url('../数据同步_files/u18_normal.png');
}

.u64_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:20px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u65 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_menu {
    background-image: url('../数据同步_files/u66_menu.png');
}

.u66_menu {
    position:absolute;
    left:347px;
    top:20px;
    width:115px;
    height:75px;
}

#u66_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:72px;
}

#u67 {
    position:absolute;
    left:3px;
    top:3px;
    width:105px;
    height:65px
}

.u68_mouseOver {
    background-image: url('../数据同步_files/u18_mouseOver.png');
}

.u68_normal {
    background-image: url('../数据同步_files/u18_normal.png');
}

.u68_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u69 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_mouseOver {
    background-image: url('../数据同步_files/u18_mouseOver.png');
}

.u70_normal {
    background-image: url('../数据同步_files/u18_normal.png');
}

.u70_container {
    position:absolute;
    left:0px;
    top:20px;
    width:100px;
    height:20px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u71 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_mouseOver {
    background-image: url('../数据同步_files/u18_mouseOver.png');
}

.u72_normal {
    background-image: url('../数据同步_files/u18_normal.png');
}

.u72_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:20px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u73 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

